@import "tailwindcss";
@import "@fontsource/inter/index.css";
body {
  font-family: 'Inter', sans-serif;
}

/* Hide scrollbar for chatbot textarea */
.scrollbar-hide {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}
